.vscode/**
.vscode-test/**
src/**
test/**
out/**
!out/extension.js
scripts/**
node_modules/**
.gitignore
esbuild.mjs
biome.json
tsconfig.json
tsconfig.test.json
vitest.config.ts
**/*.ts
**/.eslintrc*

# Include the bundled binary for platform-specific VSIX
bin/**
!bin/
!bin/solgrid
!bin/solgrid.exe
